body {
	font-family: sans-serif;
	background: #3c5a6a; }

a, h1, h2 {
	color: #99c5d8; }

h1, h2 {
	font-family: 'Georgia', serif;
	margin: 10px;
	text-align: center; }

p{
	font-family: 'Georgia', serif;

}

h1 {
	border-bottom: 15px solid #3c5a6a;
}

h2 {
	font-size: 1.2em;
}


#searchForm{
	text-align: center;
}

.container {
	font-family: sans-serif;
	background: #3c5a6a;
	width: 80%;
	margin:0 auto;
	position: fixed
}

.container_search {
	border: 5px solid #3c5a6a;
	font-family: sans-serif;
	background-color: #3c5a6a;

	width: 30%;
	height: 40%;
	position: fixed;
	top: 0px;
	right: 0px;

	overflow: scroll;
}

.container_table {
	border: 5px solid #3c5a6a;

	font-family: sans-serif;
	background-color: #3c5a6a;
	margin:0 auto;
	position: absolute;

	width: 90%;
	height: 60%;
	position: fixed;
	top: 40%;
	right: 0px;
	overflow: scroll;
}

.container_mine {
	border: 5px solid #3c5a6a;

	width: 60%;
	height: 40%;
	position: fixed;
	top: 0px;
	right: 30%;
	overflow: scroll;
	background-color: #3c5a6a;
}

#buttons {
	position: fixed;
	height: 100%;
	width: 10%;
	right: 90%;
	background-color: #113647;
}

#buttons button, input {
	font-size: 15px;
	color: #6497b1;
	font-weight: bold;

	position: relative;
	float: top;
	margin:10px;
	margin-top: 20px;
	width: 80%;
}



.boxes{
	width: 100%;
	opacity: 100%;
	background-color: #113647;
	position: relative;
	color:#6497b1;
	text-align: center;
}

.boxes{
	padding: 15px;
}

#box1{
	height:70px;
}

#box2{
	height: 400px;
}

.boxes input{
	position: relative;
	float: left;
	margin: 5px;
}
.boxes div{
	position: relative;
	float: left;
	height: 50px;
	width: 80px;
}

.field{
	width: 95%;
}

table 			{
	font-family: sans-serif;
	background: #d0dfe7;
	width: 98%;
	margin: 0 auto;
	border-collapse: collapse;
	border-radius: 25px;
	overflow:hidden;
	}

tr, td 			{
	font-family: sans-serif;
	background: #d0dfe7;
	border-collapse: collapse;
	border: 2px solid #47545a;
	font-size: 14px;}

th 				{
	font-family: sans-serif;
	background: #63757e;
	border-collapse: collapse;
	border: 2px solid #63757e;
	text-align: center;}

#formButton {
	display: none;
}

/*tr:hover td{
	background-color: #e7eff3;
}*/

.highlight td {
	background-color: yellow;
}

.highlightBox{
	color: yellow;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
}
input[type='checkbox']:checked {
    background: #000000;
	border-radius: 30%;
	border: 4px solid #dbcc00;
}

.scrollTable {
	overflow: scroll;
	position: fixed;
	height: 70%;
	top: 20%;
	width: 80%;
	left: 10%
}

.scrollTable table {
	width: 90%;
	height: 90%;
}

.page-header {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 30%;

}


.error          { background: #f0d6d6; padding: 0.5em; }

.course_search {margin: 0 auto; text-align: center;}
