<!DOCTYPE html>
{% extends "new_layout.html" %} 

 {% block content %}
    {% if session.logged_in %}

    {% endif %}
    <div class="page-header">
        <h1>View Courses</a></h1>
    </div>

     <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Credits</th> 
          <th>Description</th>
          <th>First Year</th>
          <th>New</th>    
        </tr>
      </thead>
      {% for course in courses %}
        <tbody>
          <tr>
            <td>{{ course.id }}
            <td>{{ course.name }}
            <td>{{ course.credits }}
            <td>{{ course.description}}
            <td>{{ course.first_year }}
            <td>{{ course.new }}
          </tr>
        </tbody>
        

    {% else %}
      <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
    </table>
  {% endblock %}
