<!DOCTYPE html>
    <head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Simon's Rock Course Guide</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='new_style.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"
        >
    </head>
    <body>
	    <div class="container">

	        {% block content %}
	        {% endblock %}

	    </div>
		<script type="text/javascript">


            /* all currently yellow rows in bottom table*/
			var guideSelected = [];
            /* all course to be displayed in top left table */
			var myCourses = [];
            /* all currently yellow rows in top left table */
			var mySelected = [];


            /* collect stored item (between refreshes) */
			courseArray = localStorage.getItem("courseArray");
            courseArray = string_to_arrays(courseArray);
            console.log(courseArray);
            /* initialize if needed */
			if (typeof courseArray == "undefined" || courseArray == null){
				var courseArray = [];
                $("#myCourses").html("");
                $("#clearAll").click();
            /* else, use existing info to create the html */
			} else {
                currentHTML = create_HTML(courseArray);
                $("#myCourses").html(currentHTML);
            }


            /* links toolbar button to the search button */
			$("#buttonSearch").click(function(){
				$("#formButton").click();
			});

            $("#clearAll").click(function(){
                courseArray=[];
                $("#myCourses").html("");
                localStorage.setItem("courseArray", "");
            })


            /* maintains highlighting and keeps track of
            guideSelected*/
			$("#courseTable tr").click(function() {
                var new_course = filter_values($(this).html());
                if (hasClass(this, "highlight")){
					var index = jQuery.inArray(new_course, guideSelected);
					guideSelected.splice(index,1);
                } else {
                    /* if clicked and not highlighted already, add it */
					var index = jQuery.inArray(new_course, guideSelected);
                    if (index == -1){
                        guideSelected.push(new_course);
                    }
                }
                $(this).toggleClass("highlight");
   			});


			/* maintains highlighting and keeps track of
            mySelected*/
			$("#myCourses tr").click(function() {
                var new_course = soft_filter_values($(this).html());
                if (hasClass(this, "highlight")){
                    /* if clicked while highlighted, remove that item */
					var index = jQuery.inArray(new_course, mySelected);
                    mySelected = mySelected.splice(index, 1);
                } else {
                    /* if clicked while not highlighted, add it */
					var index = jQuery.inArray(new_course, mySelected);
                    if (index == -1){
                        mySelected.push(new_course);
                    }
                }
                $(this).toggleClass("highlight");
   			});


            /* push in currently selected courses (below)*/
			$("#pushInSelected").click(function(){
			    var conflict;
                non_overlaps = [];
                while (guideSelected.length != 0){
                    /* for all selected */
                    conflict = false;
					var index = jQuery.inArray(guideSelected[0], courseArray);
                    if (index != -1){
                        /* if overlap, make sure we don't add it twice */
                        conflict = true;
                    }
                    if (conflict == false){
                        courseArray.push(guideSelected[0]);
                    }
					var index1 = jQuery.inArray(guideSelected[0], guideSelected);
					guideSelected.splice(index1, 1);
                }
                $("#myCourses").html(create_HTML(courseArray));
                localStorage.setItem("courseArray", courseArray);
			});


			/* pop out currently selected courses (above)*/
			$("#popOutSelected").click(function(){
                while (mySelected.length != 0){
                    /* for all selected */
					// var index = jQuery.inArray(mySelected[0], courseArray);
					// courseArray.splice(index, 1);
					// var index1 = jQuery.inArray(mySelected[0], mySelected);
                    // mySelected.splice(index1, 1);
					courseArray.splice(isInny(mySelected[0], courseArray), 1);
					mySelected.splice(isInny(mySelected[0], mySelected), 1);
                }
                $("#myCourses").html(create_HTML(courseArray));
                localStorage.setItem("courseArray", courseArray);
			});


            /* creates the HTML based on the courseArray */
            function create_HTML(courseArray){
                if (courseArray == null){
                    console.log('error')
                    return "";
                }
                full_str = '';
                for (var i=0; i < courseArray.length; i++){
                    temp_str = '<tr>';
                    for (var j=0; j < courseArray[i].length; j++ ){
                        temp_str += "<td>";
                        temp_str += courseArray[i][j];
                        temp_str += "</td>";
                    }
                    temp_str += '</tr>';
                    full_str += temp_str;
                }
                return full_str;
            }

            function filter_values(string){
                /* string: og value taken from bottom table html */
                var final_arr = [];
                var not_include = [0,2,5,10,11];
                var values = string.split("<td>");
                var new_values = [];


                for (var i = 0; i < values.length; i++) {
                    is_in = false;
                    for (var j = 0; j < not_include.length; j++){
                        if (i==not_include[j]){
                            var is_in = true;
                        }

                    }

                    if(is_in == false){
						values[i] = removeStringComma(values[i])
                        final_arr.push(values[i].split("</td>")[0]);
                    }
                }

                /* returns acceptable array to be placed into courseArray */
                return final_arr;
            }


			function soft_filter_values(string){
                /* string: og value taken from top table html */
                var final_arr = [];
                var values = string.split("<td>");
                var new_values = [];
                for (var i = 1; i < values.length; i++) {
                    final_arr.push((values[i].split("</td>"))[0]);
                }
                /* returns acceptable array to be placed into mySelected */
                console.log(final_arr);
                return final_arr;
            }


            function hasClass(element, classNameToTestFor) {
                console.log(element.className);
                if (element.className == null){
                    return false;
                }
                console.log(element.className);
                var classNames = element.className.split(' ');
                for (var i = 0; i < classNames.length; i++) {
                    if (classNames[i].toLowerCase() == classNameToTestFor.toLowerCase()) {
                        return true;
                    }
                }
                return false;
            }

            function isInny(array, list){
                /* only check first value in */
                for (var i=0; i<list.length; i++){
                    if (array[0] == list[i][0]){
                        return i;
                    }
                }
                return -1;
            }


            function string_to_arrays(string){

                if (string == ""){
                    return [];
                }
                /* string: og value taken from bottom table html */
                var final_arr = [];

                var values = string.split(",");


                for (var i = 0; i < Number(values.length/7); i++){
                    var temp_arr = [];
                    for (var j = 0; j < 7; j++){
                        temp_arr.push(values[j + (7*i)]);
                    }
                    final_arr.push(temp_arr);
                }
                return final_arr;
            }

			function removeStringComma(string){
				console.log(string);
				var newS = "";
				for (var i=0; i<string.length; i++ ){
					if(string[i] != ","){
						newS+=string[i];
					}
				}
				console.log(newS);
				return newS;

			}



		</script>

  </body>
</html>
