<!DOCTYPE html>
{% extends "new_layout.html" %}

 {% block content %}
    {% if session.logged_in %}

    {% endif %}

<div id="buttons">
	<button id="buttonSearch">Filtered Search</button>
	<button id="pushInSelected">Add Selected (Below)</button>
	<button id="popOutSelected">Remove Selected (Above)</button>
  <button id="clearAll">Clear My Courses</button>

</div>

<div class="container_mine">
	<div class="page-header">
        <h1>My Courses</h1>
    </div>
	<table id="myCourseTable">
		<thead>
          <tr>
            <th>Id</th>
            <th>Course Name</th>
            <th>Professor Name</th>
            <th>Time</th>
            <th>Days</th>
            <th>Classroom</th>
            <th>Credits</th>
          </tr>
        </thead>

		<tbody id="myCourses">
		</tbody>

	</table>
</div>

<div class="container_search">
 	<h1> Filter Search </h1>
	<form id="searchForm" action="/" method=post>
		<h2>Course Search</h2>
		<input class= "field" type=text name=search value="{{request.form.search}}" placeholder="Ex. Chemistry">

		<h2>Professor Search</h2>
		<input class= "field" type=text name=search_1 value="{{request.form.search_1}}" placeholder="Ex. Patty Dooley">


	    <h2>Credit Select</h2>
		<div id="box1" class="boxes">
			<div class="boxWrapper"><input type="checkbox" name="credit_1" value="1" >
			<p>1</p></div>
			<div class="boxWrapper"><input type="checkbox" name="credit_2" value="2" >
			<p>2</p></div>
			<div class="boxWrapper"><input type="checkbox" name="credit_3" value="3" >
			<p>3</p></div>
			<div class="boxWrapper"><input type="checkbox" name="credit_4" value="4" >
			<p>4</p></div>
			<div class="boxWrapper"><input type="checkbox" name="credit_lab" value="lab credit" >
			<p>Lab credit</p></div>
		</div>

		<h2>Department Select</h2>

		<div id="box2" class="boxes">
			<div class="boxWrapper"><input type="checkbox" name="PACE" value="PACE" >
			<p>PACE</p></div>
			<div class="boxWrapper"><input type="checkbox" name="FS" value="FS" >
			<p>FS</p></div>
			<div class="boxWrapper"><input type="checkbox" name="AFAM" value="AFAM" >
			<p>AFAM</p></div>
			<div class="boxWrapper"><input type="checkbox" name="BIO" value="BIO" >
			<p>BIO</p></div>
			<div class="boxWrapper"><input type="checkbox" name="ANTH" value="ANTH" >
			<p>ANTH</p></div>
			<div class="boxWrapper"><input type="checkbox" name="LING" value="LING" >
			<p>LING</p></div>
			<div class="boxWrapper"><input type="checkbox" name="ARTH" value="ARTH" >
			<p>ARTH</p></div>
			<div class="boxWrapper"><input type="checkbox" name="DANC" value="DANC" >
			<p>DANC</p></div>
			<div class="boxWrapper"><input type="checkbox" name="PHIL" value="PHIL" >
			<p>PHIL</p></div>
			<div class="boxWrapper"><input type="checkbox" name="ARTS" value="ARTS" >
			<p>ARTS</p></div>
			<div class="boxWrapper"><input type="checkbox" name="WS" value="WS" >
			<p>WS</p></div>
			<div class="boxWrapper"><input type="checkbox" name="CMPT" value="CMPT" >
			<p>CMPT</p></div>
			<div class="boxWrapper"><input type="checkbox" name="COM" value="COM" >
			<p>COM</p></div>
			<div class="boxWrapper"><input type="checkbox" name="CHEM" value="CHEM" >
			<p>CHEM</p></div>
			<div class="boxWrapper"><input type="checkbox" name="ECON" value="ECON" >
			<p>ECON</p></div>
			<div class="boxWrapper"><input type="checkbox" name="ENVS" value="ENVS" >
			<p>ENVS</p></div>
			<div class="boxWrapper"><input type="checkbox" name="FILM" value="FILM" >
			<p>FILM</p></div>
			<div class="boxWrapper"><input type="checkbox" name="HIST" value="HIST" >
			<p>HIST</p></div>
			<div class="boxWrapper"><input type="checkbox" name="GEOG" value="GEOG" >
			<p>GEOG</p></div>
			<div class="boxWrapper"><input type="checkbox" name="LIT" value="LIT" >
			<p>LIT</p></div>
			<div class="boxWrapper"><input type="checkbox" name="LR" value="LR" >
			<p>LR</p></div>
			<div class="boxWrapper"><input type="checkbox" name="MATH" value="MATH" >
			<p>MATH</p></div>
			<div class="boxWrapper"><input type="checkbox" name="MUS" value="MUS" >
			<p>MUS</p></div>
			<div class="boxWrapper"><input type="checkbox" name="NATS" value="NATS" >
			<p>NATS</p></div>
			<div class="boxWrapper"><input type="checkbox" name="PHOT" value="PHOT" >
			<p>PHOT</p></div>
			<div class="boxWrapper"><input type="checkbox" name="PHYS" value="PHYS" >
			<p>PHYS</p></div>
			<div class="boxWrapper"><input type="checkbox" name="POLS" value="POLS" >
			<p>POLS</p></div>
			<div class="boxWrapper"><input type="checkbox" name="PSYC" value="PSYC" >
			<p>PSYC</p></div>
			<div class="boxWrapper"><input type="checkbox" name="SOCS" value="SOCS" >
			<p>SOCS</p></div>
			<div class="boxWrapper"><input type="checkbox" name="THEA" value="THEA" >
			<p>THEA</p></div>
			<div class="boxWrapper"><input type="checkbox" name="SART" value="SART" >
			<p>SART</p></div>
			<div class="boxWrapper"><input type="checkbox" name="CHIN" value="CHIN" >
			<p>CHIN</p></div>
			<div class="boxWrapper"><input type="checkbox" name="ESL" value="ESL" >
			<p>ESL</p></div>
			<div class="boxWrapper"><input type="checkbox" name="FREN" value="FREN" >
			<p>FREN</p></div>
			<div class="boxWrapper"><input type="checkbox" name="GERM" value="GERM" >
			<p>GERM</p></div>
			<div class="boxWrapper"><input type="checkbox" name="SPAN" value="SPAN" >
			<p>SPAN</p></div>
		</div>

		<div id="actions">
		  <input id="formButton" type=submit value="Search">
		</div>

	</form>
</div>



</div>

  <div class="container_table">

    <div class="page-header">
        <h1>Filtered Courses</h1>
    </div>

     <table id="courseTable" class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Semester</th>
          <th>Course Name</th>
          <th>Professor Name</th>
          <th>Description</th>
          <th>Time</th>
          <th>Days</th>
          <th>Classroom</th>
          <th>Credits</th>
          <th>First Year</th>
          <th>Max Students</th>

        </tr>
      </thead>
      {% for entry in data %}
        <tbody>
          <tr>
            <td>{{ entry.id }}
            <td>{{ entry.semester}}
            <td>{{ entry[2]}}
            <td>{{ entry.name }}
            <td>{{ entry.description}}
            <td>{{ entry.time_}}
            <td>{{ entry.days}}
            <td>{{ entry.room_code}}
            <td>{{ entry.credits }}
            <td>{{ entry.first_year }}
            <td>{{ entry.max_students }}
          </tr>
        </tbody>
    </div>


    {% endfor %}
    </table>
{% endblock %}
